html, body{
    height: 100%;
    
}
.form-container{
    max-width: 600px;
    padding: 5rem;
}

.your-button-class{
    text-decoration: none;
    color: white;
}
.form-login{
    padding: 20px 10px 20px 10px;
    border-radius: 8px;
}
.centered-heading {
    text-align: center;
    margin: 0 auto;
}
.form-painel{
    width: 450px;
    padding: 20px;
    background-color: rgb(134, 140, 144);
    
    
}